apiVersion: v1
kind: Service
metadata:
  name: svc-capitola-cafe-webapp
  namespace: devops
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: capitola-cafe-webapp
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: capitola-cafe-webapp
  namespace: devops
spec:
  replicas: 3
  selector:
    matchLabels:
      app: capitola-cafe-webapp
  template:
    metadata:
      labels:
        app: capitola-cafe-webapp
    spec:
      containers:
      - name: capitola-cafe-webapp
        image: 10.0.11.97:8082/devops/capitola-cafe-webapp:VERSION
        ports:
        - containerPort: 8080